<div class="container">
    <h1>Gestión de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>RUT</th>
                <th>Teléfono</th>
                <th>Correo Electrónico</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alvaro</td>
                <td>Sala</td>
                <td>19.952.491-7</td>
                <td>+56912345678</td>
                <td>alvaro.sa@alumnos.ucn.com</td>
                <td>
                    <button class="edit">Editar</button>
                    <button class="disable">Deshabilitar</button>
                    <button class="enable">Habilitar</button>
                    <button class="delete">Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>Francisco</td>
                <td>ri</td>
                <td>23.456.789-0</td>
                <td>+56987654321</td>
                <td>francisco.r@ucn.com</td>
                <td>
                    <button class="edit">Editar</button>
                    <button class="disable">Deshabilitar</button>
                    <button class="enable">Habilitar</button>
                    <button class="delete">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="notes">
    
    </p>
</div>
